<a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
<a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
<a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>